In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('MachineLearning.csv')

In [3]:
df.head(5)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1269188666171297792,1269188666171297792,1591433133000,2020-06-06,14:15:33,India Standard Time,3222850370,ai_scientist,Robotic Scientist,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '3222850370', 'username': 'AI_Sci...",NaN,NaN,NaN,NaN
1,1269188574295085061,1269188574295085061,1591433111000,2020-06-06,14:15:11,India Standard Time,555031989,ronald_vanloon,Ronald van Loon,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '555031989', 'username': 'Ronald_...",NaN,NaN,NaN,NaN
2,1269188382103670787,1269188382103670787,1591433065000,2020-06-06,14:14:25,India Standard Time,1269440827,analyticsfrance,Analytics France,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1269440827', 'username': 'Analyt...",NaN,NaN,NaN,NaN
3,1269188380585275392,1269188380585275392,1591433064000,2020-06-06,14:14:24,India Standard Time,1269440827,analyticsfrance,Analytics France,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1269440827', 'username': 'Analyt...",NaN,NaN,NaN,NaN
4,1269188086736531456,1269188086736531456,1591432994000,2020-06-06,14:13:14,India Standard Time,13773282,timkindberg,Tim Kindberg,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '13773282', 'username': 'timkindb...",NaN,NaN,NaN,NaN

In [4]:
New_df=df[['id','username','name','tweet']]
New_df

,id,username,name,tweet
0,1269188666171297792,ai_scientist,Robotic Scientist,VIDEO: Why the next big leap in #AI will have ...
1,1269188574295085061,ronald_vanloon,Ronald van Loon,How Amazon’s Delivery #Robots Will Navigate Yo...
2,1269188382103670787,analyticsfrance,Analytics France,Top Artificial Intelligence Investments and Fu...
3,1269188380585275392,analyticsfrance,Analytics France,Stay Competent with Most In-Demand Data Scienc...
4,1269188086736531456,timkindberg,Tim Kindberg,#MachineLearning is an epistemological black h...
...,...,...,...,...
1229,1268996014356094977,vishagashe,Vish Agashe,#Stanford #Engineering #ML #MachineLearning Au...
1230,1268996011336163329,southerndsc,Southern Data Science Conference,"Don't forget to use the code ""HOPE"" for 25% of..."
1231,1268996010702823424,kirkdborne,Kirk Borne,FREE 185-page PDF: A Comprehensive Guide to #M...
1232,1268996009809436672,vishagashe,Vish Agashe,Good read about how other practitioners in th...
1233,1268995781782102022,sajidmirza,Sajid Mirza,Diversify Your Portfolio With AI #ArtificialIn...

In [5]:
New_df.shape

(1234, 4)

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
New_df.dropna(inplace=True)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
New_df.shape

(1234, 4)

In [8]:
tweet=New_df.copy()
tweet.head()

,id,username,name,tweet
0,1269188666171297792,ai_scientist,Robotic Scientist,VIDEO: Why the next big leap in #AI will have ...
1,1269188574295085061,ronald_vanloon,Ronald van Loon,How Amazon’s Delivery #Robots Will Navigate Yo...
2,1269188382103670787,analyticsfrance,Analytics France,Top Artificial Intelligence Investments and Fu...
3,1269188380585275392,analyticsfrance,Analytics France,Stay Competent with Most In-Demand Data Scienc...
4,1269188086736531456,timkindberg,Tim Kindberg,#MachineLearning is an epistemological black h...

In [9]:
tweet.tweet[1]

'How Amazon’s Delivery #Robots Will Navigate Your Sidewalk\nby @fredericl @techcrunch\n\nRead more  https://tcrn.ch/2GX2Zp4\xa0\n#AI #IoT #BigData #MachineLearning #ArtificialIntelligence #ML #MI #Digital #DataScience #Analytics\n\nCc: @spirosmargaris @ogrisel @soumithchintala pic.twitter.com/51BVZNMjzs'

In [10]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\gaurav
[nltk_data]     sahani\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
corpus=[]

In [12]:
for i in range(0,len(tweet)):
    review=re.sub('[^a-zA-Z]',' ',tweet['tweet'][i])
    review=review.lower() 
    review=review.split()
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review=' '.join(review)
    corpus.append(review)

In [13]:
corpus[1]

'amazon deliveri robot navig sidewalk fredericl techcrunch read http tcrn ch gx zp ai iot bigdata machinelearn artificialintellig ml mi digit datasci analyt cc spirosmargari ogrisel soumithchintala pic twitter com bvznmjz'

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(max_features=5000,ngram_range=(1,3))  #NgRam gives the words the range..eg."good boy" or "Good one boy"
                                                         #First priority being the only word "good"
X=tfidf.fit_transform(corpus).toarray()

In [15]:
X.shape

(1234, 5000)

In [16]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\gaurav
[nltk_data]     sahani\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [17]:
tweet.head()

,id,username,name,tweet
0,1269188666171297792,ai_scientist,Robotic Scientist,VIDEO: Why the next big leap in #AI will have ...
1,1269188574295085061,ronald_vanloon,Ronald van Loon,How Amazon’s Delivery #Robots Will Navigate Yo...
2,1269188382103670787,analyticsfrance,Analytics France,Top Artificial Intelligence Investments and Fu...
3,1269188380585275392,analyticsfrance,Analytics France,Stay Competent with Most In-Demand Data Scienc...
4,1269188086736531456,timkindberg,Tim Kindberg,#MachineLearning is an epistemological black h...

In [18]:
import textblob
from textblob import TextBlob

In [19]:
polarity=[]
for i in tweet['tweet'].values:
    try:
        analysis=TextBlob(i)
        polarity.append(analysis.sentiment.polarity)
    except:
        polarity.append(0)

In [20]:
tweet['polarity']=polarity
tweet.head()

,id,username,name,tweet,polarity
0,1269188666171297792,ai_scientist,Robotic Scientist,VIDEO: Why the next big leap in #AI will have ...,0.000000
1,1269188574295085061,ronald_vanloon,Ronald van Loon,How Amazon’s Delivery #Robots Will Navigate Yo...,0.250000
2,1269188382103670787,analyticsfrance,Analytics France,Top Artificial Intelligence Investments and Fu...,0.033333
3,1269188380585275392,analyticsfrance,Analytics France,Stay Competent with Most In-Demand Data Scienc...,0.400000
4,1269188086736531456,timkindberg,Tim Kindberg,#MachineLearning is an epistemological black h...,0.211111

In [21]:
tweet.polarity[tweet.polarity == 0.0] = 1
tweet.polarity[(tweet.polarity > 0) & (tweet.polarity <= -0.40)] = 2
tweet.polarity[(tweet.polarity > -0.4) & (tweet.polarity <= -0.99)] = 3
tweet.polarity[(tweet.polarity > 0) & (tweet.polarity <= 0.30)] = 4
tweet.polarity[(tweet.polarity > 0.30) & (tweet.polarity <= 0.99)] = 5

#Where:
#1 = Neural
#2 = Slightly Negative
#3 = Negative
#4 = Slightly Positive
#5 = Positive

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
D:\anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [22]:
tweet.head()

,id,username,name,tweet,polarity
0,1269188666171297792,ai_scientist,Robotic Scientist,VIDEO: Why the next big leap in #AI will have ...,1.0
1,1269188574295085061,ronald_vanloon,Ronald van Loon,How Amazon’s Delivery #Robots Will Navigate Yo...,4.0
2,1269188382103670787,analyticsfrance,Analytics France,Top Artificial Intelligence Investments and Fu...,4.0
3,1269188380585275392,analyticsfrance,Analytics France,Stay Competent with Most In-Demand Data Scienc...,5.0
4,1269188086736531456,timkindberg,Tim Kindberg,#MachineLearning is an epistemological black h...,4.0

In [23]:
y=tweet[['polarity']]
y=y.astype(int)
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1234 entries, 0 to 1233
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   polarity  1234 non-null   int32
dtypes: int32(1)
memory usage: 54.5 KB

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.22, random_state=0)

In [25]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()

In [26]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [27]:
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)
metrics.confusion_matrix(y_test, pred)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy:   0.739

array([[  7,  13,   3,   2],
       [  0, 170,   0,   0],
       [  0,  23,  12,   2],
       [  0,  26,   2,  12]], dtype=int64)